@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root{
    --black:#010302;
    --white:#E2E3D8;
    --light-green:#00C05B;
    --dark-green:#008d42;
}

html,body{
    margin: 0;
    height: 100%;
    font-family: 'Space Mono', monospace;
    color:var(--white);
    background-color: var(--black);
    overflow: hidden;
}
body::-webkit-scrollbar{
    width: 0.75rem;
}
body::-webkit-scrollbar-track{
    background-color: var(--white);
    border-radius: 100vmax;
    margin-block: 0.1rem;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--dark-green);
    border-radius: 100vmax;
    border: 1.5px solid var(--white);
}
body{
    scrollbar-color: var(--white) var(--dark-green);
    scrollbar-width: thin;
}
nav{
    display: flex;
    align-items: center;
    background-color:var(--light-green);
    height: 5rem;
    border-bottom: 2px solid var(--white);
    isolation: isolate;
    position: relative;
    z-index: 100;
}
.heading{
    font-size: 1.8rem;
    flex-grow: 1;
    margin-block: 0;
    margin-left: 1rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
}
nav li{
    display: inline;
    position: relative;
}
nav li span{
    font-weight: 800;
    padding-right: 0.5rem;
}
nav a{
    color: currentColor;
    text-decoration: none;
}
ul li::after{
    content: '';
    color: var(--dark-green);
    height: 2px;
    width: 100%;
    transform: scaleX(0.2);
    background-color: currentColor;
    position: absolute;
    top: 1.5rem;
    left: 0;
    border-radius: 100vmax;
    transition: transform 200ms;
    transform-origin:left;
}
nav li:hover::after,
#active::after{
    transform: scaleX(1);
}
.toggle{
    display: none;
}
@media (max-width:700px) {
    nav ul{
        flex-direction: column;
        background-color: var(--light-green);
        min-width: min-content;
        width:20%;
        opacity: 1;
        margin-top: 21.4rem;
        margin-right: 0;
        padding-block: 1.4rem;
        border-radius: 0 0 0 10px;
        transition: transform 150ms,opacity 150ms;
        transform: scale(1);
        transform-origin: 100% 0 ;
    }
    nav ul li{
        align-self: flex-end;
        margin-block: 0.5rem;
        padding-right: 0.5rem;
    }
    nav ul li::after{
        display: none;
    }
    .toggle{
        display: block;
        position: absolute;
        right: 1rem;
        background-color:transparent;
        border: 0;
        color: var(--white);
    }
    .nav.hidden{
        transform: scale(0);
        opacity: 0;
    }
}

main{
    display: grid;
    place-items: center;
    margin-inline: 2rem;
}
main h1{
   font-size: clamp(2.5rem, 2.5rem + 7.5vw,10rem); 
   margin-bottom: 0;
   position: relative;
   background-clip: text;
}
main h1::before{
    content: '';
    position: absolute;
    background-color: var(--black);
    inset: 0;
    animation: type 2s steps(4) forwards 0.5s;
}
main h1::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 20%;
    width: 0.11em;
    background-color: var(--white);
    opacity: 0;
    animation: type 2s steps(4) forwards 0.5s,
                blink 500ms steps(4) 8;
}
@keyframes type{
    to{
        left: 100%;
    }
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
main .year{
    margin-top: 0;
    color: var(--dark-green);
    font-size:clamp(0.5rem,0.5rem + 1.5vw,2rem);
    animation: pop 1s forwards 3s;
    transform: scale(0);
}
@keyframes pop {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.button{
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid var(--dark-green);
    outline: 1px solid var(--dark-green);
    margin-block: 0.5rem;
    transition: outline-offset 250ms;
    text-transform: uppercase;
}
.button:hover{
    outline-offset: 0.5rem;
}